.navbar {
  background-color: deepskyblue;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.navbar a {
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: deepskyblue;
}

.App {
  text-align: center;
}

/*  our color scheme:
button_active_dark_blue #335CFF,
button_inactive_light_blue  #CCD7FF,
call_to_action_red: #C97064
resolved_green: #7A9B76
in_progress_yellow: #BE7C4D
text_black: #222222,
background_white: #FCF7FF
 */

.announcementContainer {
  background-color: #ccd7ff;
  color: #222222;
}

.postContainer {
  background-color: #ccd7ff;
  color: #222222;
}

.announcementImage {
  width: 150px;
  border-radius: 10px;
}

.posts-wrapper {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  #new-post {
    background-color: #222222;
  }
  .MuiCard-root {
    background-color: green;
  }
}
