// ----- CSS Structure: App / Posts / Announcements / Files / Login
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
}
#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #222222;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// -------------------- App -------------------- //

.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #222222;
  height: 100%;
  .navbar {
    position: fixed;
    flex: 1 1 10%;
    background-color: #f7f7f7;
    border-bottom: 1px solid;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1rem;
    z-index: 100;

    .back-btn {
      position: relative;
      color: #222222;
    }

    .nav-title {
      // position: relative;
      // text-transform: capitalize;
      letter-spacing: 2px;
      color: #222222;
    }

    a {
      color: #222222;
      font-weight: bold;
    }
  }
  .bottom-nav {
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 100;
  }
  .MuiContainer-root {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    max-width: 780px;
    // overflow: scroll;
  }
}

// -------------------- Profile -------------------- //

.profileIcon {
  position: relative;
  top: +6px;
  left: 5px;
  scale: 10%;
}

// -------------------- General -------------------- //
.help-text {
  color: gray;
  font-size: small;
  text-align: left;
}

// -------------------- Posts -------------------- //
.postContainer {
  background-color: #ccd7ff;
  color: #222222;
}

.posts-wrapper {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  #new-post {
    background-color: #222222;
    color: white;
    justify-content: center;
    font-size: 5rem;
  }
  .MuiCard-root {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    overflow: hidden;
    color: white;
    height: 113px;
    img {
      overflow: hidden;
      position: absolute;
      z-index: 0;
      height: auto;
      top: -250px;
      filter: blur(0.2rem);
    }
    .bg-overlay {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #000000 100%
      );
    }

    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 2;
      .post-title {
        margin: auto;
        font-weight: bolder;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      .post-status {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        left: 0;
        bottom: 0;
        * {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.post-image-wrapper {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #222222 !important;
  color: white !important;
  justify-content: center;

  img {
    width: auto;
    height: 100%;
  }
}

.post-new {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    div {
      margin-bottom: 0.5rem;
    }
  }
}

.post-detail {
  height: 50%;
  .MuiPaper-root {
    width: 100%;
    height: 75%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .post-detail-title {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1.2rem 0;
  }
  .post-detail-content {
    text-align: left;
    font-style: italic;
  }
  .post-detail-action-icons {
    display: flex;
    justify-content: flex-end;
  }
}

.AnnouncementRoot {
  text-align: left;
}
.announcementContainer {
  //background-color: #ccd7ff;
  color: #222222;
  text-align: left;
  position: relative;
  top: -30px;
}
.announcementImage {
  width: 150px;
  border-radius: 10px;
}

.announcement-content {
  font-weight: normal;
  font-size: 0.8rem;
}

.announcement-time {
  font-weight: bold;
  align-content: right;
  font-size: 0.8rem;
}

.announcementCardsContainer {
  //background-color: #f7f7f7;
  padding: 20px;
  text-align: left;
}
.announcementCardsDetail {
  margin-top: 12%;
  // border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(195, 195, 195, 0.3);
  padding: 10px;
}
.announcementCardsDetail img {
  width: 80vw;
  // height: 9vw;
}

// -------------------- Files -------------------- //
.cards-fileList {
  margin-bottom: 4px;
  border-bottom: 2px;
  // background-color: rgba(9, 109, 209, 0.8);
}

.fileCards {
  text-align: left;
  color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(9, 109, 209, 0.4);
}

.fileCardsTitle {
  margin-left: 10px;
  flex-basis: 40%;
  padding-right: 0px;
}

.fileCardsCategory {
  flex-basis: 40%;
  margin-left: 10px;
}
.fileCardsDate {
  flex-basis: 20%;
  padding-right: 0px;
  font-size: small;
  margin-right: 10px;
}

//------------------------------------fileDetails Page-----------------------------
.fileDetailCardOne {
  margin: 5%;
  margin-top: 15%;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.file-detail-action-icons {
  // width: 10vw;
  // height: 10vh;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}
.filesDetailCardContent {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.fileDetailCardTwo {
  margin: 5%;
  margin-bottom: 15%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#img {
  width: 80vw;
}

// .fileCardsContainer {
//   padding: 5%;
//   padding-bottom: 60px;
// }

// .fileCardsDetail {
//   margin-top: 12%;
//   // border: 1px solid grey;
//   border-radius: 10px;
//   background-color: rgba(195, 195, 195, 0.3);
//   padding: 10px;
//   display: flex;
//   flex-direction: column;
//   text-align: left;
// }

// .fileCardsDetailImage {
//   width: 80vw;
//   // height: 9vw;
// }
// .file-detail-action-icons {
//   display: flex;
//   align-self: flex-end;
// }

// -------------------- Calender -------------------- //
.calenderCardsContainer {
  //background-color: #f7f7f7; TO-DO Bottom Navigation rises if image small
  padding: 5%;
  padding-bottom: 60px;
  text-align: left;
}

.calenderCards {
  border-bottom: 1px solid#f7f7f7;
  margin: 0px;
  text-align: left;
  background-color: #757575;
  color: #f7f7f7;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-top: 2px;
}

.calenderCardsTitle {
  margin-left: 10px;
  text-align: left;
  color: #f7f7f7;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
}

.calenderCardsDate {
  margin-left: 10px;
  text-align: left;
  color: #f7f7f7;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
}

.calenderSerachBarContainer {
  text-align: left;
  margin-bottom: 5px;
}

.calenderSerachBar {
  margin: 5px 0px 5px 10px;
}

// -------------------- Login -------------------- //

.login {
  margin: 5px;
  text-align: center;
  color: 222222;
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 50px;
}

.loginHeader {
  color: hsl(0, 0%, 13%);
  padding-top: 40px;
  flex-basis: 20%;
  border-top: 1px solid#222222;
  letter-spacing: 3px;
  font-weight: lighter;

  align-items: center;
  text-align: center;
}

.loginSubHeader {
  color: #335cff;
  letter-spacing: 3px;
  font-weight: lighter;
}

.loginEmail {
  padding: 20px;
  flex-basis: 25%;
}

.loginPassword {
  padding: 20px;
  flex-basis: 25%;
}
.loginButton {
  color: #222222;
  padding-bottom: 20px;
  flex-basis: 25%;
  border-bottom: 1px solid #222222;
}

.dashboardHeader {
  // border-bottom: 1px solid black;
  margin: 5px;
  text-align: left;
  color: #222222;
  display: flex;
  flex-direction: row;
}

// -------------------- Color Scheme -------------------- //
/*  our color scheme:

button_active_dark_blue #335CFF,
button_inactive_light_blue  #CCD7FF,

call_to_action_red: #C97064
resolved_green: #7A9B76
attention_yellow: #BE7C4Ds

text_black: #222222,

background_white: #f7f7f7 
background_dark grey: #757575

 */
