* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: #222222;
}

.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #222222;
  .navbar {
    position: fixed;
    flex: 1 1 10%;
    background-color: #f7f7f7;
    border-bottom: 1px solid;
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1rem;
    z-index: 100;

    .back-btn {
      position: relative;
      color: #222222;
    }

    a {
      color: #222222;
      font-weight: bold;
    }
  }
  .bottom-nav {
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 100;
  }
  .site-content {
    padding: 15% 0;
    position: fixed;
    flex-basis: 80%;
    width: 100%;
    height: 100vh;
    .MuiContainer-root {
      height: 100%;
      overflow: scroll;
    }
  }
}

.announcementContainer {
  background-color: #ccd7ff;
  color: #222222;
}

.postContainer {
  background-color: #ccd7ff;
  color: #222222;
}

.announcementImage {
  width: 150px;
  border-radius: 10px;
}

.posts-wrapper {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: left;
  #new-post {
    background-color: #222222;
    color: white;
    justify-content: center;
    font-size: 5rem;
  }
  .MuiCard-root {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    color: white;
    height: 113px;
    img {
      overflow: hidden;
      position: absolute;
      z-index: 0;
      height: auto;
      top: -250px;
      filter: blur(0.2rem);
    }
    .bg-overlay {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #000000 100%
      );
    }

    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 2;
      .post-title {
        margin: auto;
        font-weight: bolder;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      .post-status {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        left: 0;
        bottom: 0;
        * {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.post-detail {
  height: 50%;
  .MuiPaper-root {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .post-detail-action-icons {
    display: flex;
    justify-content: flex-end;
  }
}

.AnnouncementRoot {
  flexgrow: 1;
}

.AnnouncementPaper {
  padding-top: 20px;
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.announcement-content {
  margin: auto;
  font-weight: normal;
  font-size: 1rem;
}

.announcement-time {
  margin: auto;
  font-weight: normal;
  align-content: right;
  font-size: 0.8rem;
}

.fileCards {
  border-bottom: 1px solid black;
  margin: 5px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: row;
}

.fileCardsdate {
  flex-basis: 30%;
  padding-right: 20px;
}

.fileCardsTitle {
  flex-basis: 35%;
  padding-right: 20px;
}

.fileCardsCategory {
  flex-basis: 35%;
}

.fileCardsDetail {
  margin: 5%;
  // border: 1px solid grey;
  color: red;
  border-radius: 10px;
  background-color: rgba(195, 195, 195, 0.3);
}

.fileCardsDetail img {
  width: 80vw;
  // height: 9vw;
}

.login {
  margin: 5px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.loginHeader {
  color: #335cff;
  padding: 20px;
  flex-basis: 25%;
  border-top: 1px solid#335CFF;
}

.loginEmail {
  padding: 20px;
  flex-basis: 25%;
}

.loginPassword {
  padding: 20px;
  flex-basis: 25%;
}
.loginButton {
  color: #335cff;
  padding: 20px;
  flex-basis: 25%;
  border-bottom: 1px solid #335cff;
}

.dashboardHeader {
  border-bottom: 1px solid black;
  margin: 5px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: row;
}

/*  our color scheme:
button_active_dark_blue #335CFF,
button_inactive_light_blue  #CCD7FF,
call_to_action_red: #C97064
resolved_green: #7A9B76
in_progress_yellow: #BE7C4D
text_black: #222222,
background_white: #FCF7FF
 */
